$common-color: #e4b95b;

.footer {
    padding: 30px 0 0 0;
    background: url('../img/banner-footer.jpg');
    
    .logo {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    .site-footer {
        padding: 20px 0;
        border-bottom: 1px solid #3b2c2b;
    }
    .site-footer .col {
        padding: 0 15px;
    }
    .site-footer .col.connect {
        width: 390px;
    }
    .site-footer .col.store {
        width: 293px;
    }
    .site-footer .col.policy {
        width: 195px;
    }
    .site-footer .col.contact {
        width: 283px;
    }
    .site-footer .col h3 {
        color: $common-color;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 13px 0 20px 0;
    }
    .site-footer .col p {
        color: #fff;
        font-size: 14px;
    }
    .site-footer .col.connect p {
        margin: 0 0 15px 0;
    }
    .site-footer .col.connect ul {
        display: flex;
    }
    .site-footer .col.connect ul li {
        margin: 0 20px 5px 0;
    }
    .site-footer .col.connect ul li i {
        transition: .3s;
        cursor: pointer;
    }
    .site-footer .col.connect ul li:hover i {
        color: #fff;
    }
    .site-footer .col.connect ul li i {
        color: #5a4646;
        font-size: 20px;
    }
    .site-footer .col.store p {
        margin-bottom: 5px;
    }
    .site-footer .col.store p i {
        color: $common-color;
        font-size: 15px;
        margin-right: 5px;
    }
    .site-footer .col.policy ul li {
        margin-bottom: 5px;
    }
    .site-footer .col.policy ul li .footer_nav_link {
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        transition: .3s;
    }
    
    .site-footer .col.policy ul li .footer_nav_link:hover {
        padding: 0 0 0 5px;
        color: $common-color;
    }

    .copyright {
        padding: 20px 0 10px 0;
        text-align: center;
        color: #fff;
        font-size: 14px;
    }
}

